[submodule "bolverk-os"]
	path = bolverk-os
	url = https://github.com/deadlift1226/bolverk-os.git
[submodule "bro-cluster"]
	path = bro-cluster
	url = https://github.com/deadlift1226/bro-cluster.git
[submodule "pip-skeleton"]
	path = pip-skeleton
	url = https://github.com/deadlift1226/pip-skeleton.git
[submodule "red/py_arp"]
	path = red/py_arp
	url = https://github.com/deadlift1226/py_arp
[submodule "red/py_flood"]
	path = red/py_flood
	url = https://github.com/deadlift1226/py_flood
[submodule "blue/linux-hardening"]
	path = blue/linux-hardening
	url = https://github.com/deadlift1226/linux-hardening
[submodule "red/chaos"]
	path = red/chaos
	url = https://github.com/deadlift1226/chaos
[submodule "red/py_sweep"]
	path = red/py_sweep
	url = https://github.com/deadlift1226/py_sweep
